apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
spec:
  rules:
  - host: argocd.example.com
    http:
      paths:
      - backend:
          serviceName: nginx-service
          servicePort: 80