apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server-ingress
spec:
  rules:
  - host: argocd.example.com
    http:
      paths:
       - pathType: Prefix
         path: "/"
         backend:
            service:
              name: github-eventsource-svc
              port:
                number: 80 