apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: nginx-service
  namespace: default
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: nginx
  type: NodePort
  
apiVersion: v1
kind: Service
metadata:
  name: github-eventsource-svc
  namespace: default
spec:
  ports:
  - port: 12000
    name: http
    protocol: TCP
    targetPort: 12000
  - port: 443
    name: https
    protocol: TCP
    targetPort: 8080
  selector:
    app: nginx
    eventsource-name: github
  type: LoadBalancer 